main {
    margin-bottom: 2em;
    margin-top: 6em;
    /*margin-bottom: 15vh;*/
}
body {
    background-color: lightsteelblue;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
}
footer {
    background-color: lightsteelblue;
    /*height: 12vh;*/
    margin-top: auto;
}
footer hr {
    margin: 0 0 2em 0;
}